pipeline/Pl_API_Seasons.json
{
	"name": "Pl_API_Seasons",
	"properties": {
		"activities": [
			{
				"name": "act_web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "act_Set_variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "season",
					"value": {
						"value": "@{activity('act_web1').output.MRData.SeasonTable.Seasons}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_Set_variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "mycolumn",
								"value": {
									"value": "@variables('season')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mycolumn",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_input_copy_season",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_output_copy_season",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "act_for_each_seasons",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_web1').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_append_variable_seasons",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "seasons_array_latest",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_web_schedule",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('http://ergast.com/api/f1/',item().season, '.json')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_variable_schedule",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "act_web_schedule",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "schedule_season",
								"value": {
									"value": "@{activity('act_web_schedule').output.MRData.RaceTable}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_Copy_data_schedule_season_wise",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_variable_schedule",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "mycolumns",
											"value": {
												"value": "@variables('schedule_season')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "mycolumns",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_input_copy_season",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_schedule_copy",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "act_set_variable_season_years",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_for_each_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "season_year",
					"value": {
						"value": "@variables('seasons_array_latest')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"season": {
				"type": "String"
			},
			"seasons_array_latest": {
				"type": "Array"
			},
			"season_year": {
				"type": "Array"
			},
			"schedule_season": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Assignments"
		},
		"annotations": []
	}
}