pipeline/pl_ingest_api.json
{
	"name": "pl_ingest_api",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_api",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": "seasons.json?limit=100"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_season_data",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": {
								"value": "@concat('bronze/session/',string(utcNow('yyyyMMdd')))\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "aact_lookup_read_file_content",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('bronze/session/',string(utcNow('yyyyMMdd')))\n",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_season_data",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": "concat"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ingest_races",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "aact_lookup_read_file_content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('aact_lookup_read_file_content').output.value[0].MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_api",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": "@concat(item()['season'],'.json?limit=100')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_season_data",
									"type": "DatasetReference",
									"parameters": {
										"directory_path": {
											"value": "@concat('bronze/races/',string(utcNow('yyyyMMdd')))\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "lookup_races_data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ingest_races",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "@concat('bronze/races/',string(utcNow('yyyyMMdd')))",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_season_data",
						"type": "DatasetReference",
						"parameters": {
							"directory_path": "@concat('bronze/races/',string(utcNow('yyyyMMdd')))"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"folder": {
			"name": "Project_FormulaOne/ingest"
		},
		"annotations": []
	}
}